.first__nav {
  display: grid;
  grid-template-areas: 'weather logo logo sub-ctn';
  box-sizing: border-box;
  background-color: #f72210;
  color: white;
  height: 95px;
  font-family: "Roboto Condensed", sans-serif;
}

.weather {
  grid-area: weather;
  padding: 16px;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
}

.weather span,
.logo img {
  cursor: pointer;
}

.date-time {
  font-weight: lighter;
  font-size: 16px;
}

.logo {
  grid-area: logo;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sub-ctn {
  grid-area: sub-ctn;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.sub-ctn span,
.sub-ctn button {
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.sub-ctn button {
  color: #f72210;
  border: 1px solid #fff;
  background-color: #fff;
}

.second__nav {
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
}

.second__nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.9375rem 0;
  white-space: nowrap;
}

.second__nav a {
  font-weight: 800;
  font-size: 1.1875rem;
  color: #000;
}

.second__nav a:hover {
  color: #f72210;
  text-decoration: none;
}

.second__nav li {
  flex-grow: 1;
  line-height: 1.2;
  border-left: 1px solid #d9d9d9;
  list-style-type: none;
}

.second__nav li:first-of-type {
  border: none;
}

.second__nav li:last-of-type {
  flex-grow: 0;
  margin-right: 5rem;
  border: none;
}

#small-screen {
  margin-bottom: 5px;
  margin-left: 10px;
  cursor: pointer;
  display: none;
}

#search-input {
  width: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 3px;
  background-image: url('img/input-bg.PNG');
  background-repeat: no-repeat;
  background-position-x: 60px;
  background-position-y: 2px;
  background-size: 20px;
}

::placeholder {
  font-size: 19px;
  font-weight: 500;
  color: #666;
  font-family: "Roboto Condensed", sans-serif;
}

.second__nav::after {
  position: absolute;
  right: 0;
  content: '';
  border-top: 0.8rem solid rgb(247, 34, 16);
  border-right: 65px solid rgb(247, 34, 16);
  border-left: 0.8rem solid white;
}


@media screen and (max-width: 991px) {
 .first__nav {
    display: grid;
    grid-template-areas: 'logo weather weather sub-ctn';
    height: 50px;
    text-align: center;
 }

 .second__nav, .second__nav::after, .date-time {
   display: none;
 }

 .logo {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
 }

 .logo img {
  width: 150px;
  height: 25px;
}

.weather {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sub-ctn {
  height: 50px;
}

 #small-screen {
   display: inline;
 }
}